<div class="test-page">

  <div class="test-container">

    @if (loading) {

      <div class="loading">
        Loading test...
      </div>

    } @else if (test) {

      <div class="test-header">

        <div>
          <span class="technology">
            {{ test.technologyName }}
          </span>

          <h1>
            {{ test.title }}
          </h1>
        </div>


        <span class="progress-text">
          Question
          {{ currentQuestionIndex + 1 }}
          /
          {{ test.questions.length }}
        </span>

      </div>


      <div class="progress-bar">

        <div
          class="progress-fill"
          [style.width.%]="
            ((currentQuestionIndex + 1) /
            test.questions.length) * 100
          ">
        </div>

      </div>


      <article class="question-card">

        <span class="topic">
          {{ currentQuestion.topicName }}
        </span>


        <h2>
          {{ currentQuestion.text }}
        </h2>


        <div class="answers">

          @for (
            answer of currentQuestion.answers;
            track answer.id
          ) {

            <button
              type="button"
              class="answer-option"
              [class.selected]="
                isSelected(
                  currentQuestion.id,
                  answer.id
                )
              "
              (click)="
                selectAnswer(
                  currentQuestion.id,
                  answer.id
                )
              ">

              <span class="radio"></span>

              {{ answer.text }}

            </button>

          }

        </div>

      </article>


      <div class="navigation">

        <button
          type="button"
          class="secondary-button"
          [disabled]="
            currentQuestionIndex === 0
          "
          (click)="previousQuestion()">
          ← Previous
        </button>


        @if (
          currentQuestionIndex <
          test.questions.length - 1
        ) {

          <button
            type="button"
            class="primary-button"
            (click)="nextQuestion()">
            Next →
          </button>

        } @else {

          <button
            type="button"
            class="primary-button"
            (click)="submitTest()">
            Submit Test
          </button>

        }

      </div>

    }

  </div>

</div>